:root {
  --primary-font-color: #50b4b3;
  --primary-bg-color: #1C2541;
}

.App {
  text-align: center;
  overflow: none;
  min-width: 100vw;
  min-height: 99vh;
  padding-top: 1vh;
  background-color: var(--primary-bg-color);
}

.App-logo {
  height: 10vmin;
  width: auto;
  pointer-events: none;
}

.App-login {
  color: var(--primary-bg-color);
  border-radius: 5px 5px;
  padding: 2px 4px;
  width: 10vw;
}

.App-IDbox {
  width: auto;
  font-size: 12pt;
}

.App-btn {
  width: 3.1em;
  height: 3.1em;
  margin: auto auto auto auto;
  border-radius: 0px 4px 4px 0px;
  border: black;
}

.App-btn:hover {
  background-color: #888888;
  border: #b9b9b9;
}

.App-main-input {
  background-color: #b9b9b9;
  width: 20vw;
  height: auto;
  border: black;
  margin-left: 10px;
}

.App-label {
  font-size: calc(12px*1vmax);
}


.App-main-input > input:focus-visible, .App-main-input > input:focus {
  outline: none !important;
}

.App-main-input > input {
  background-color: #b9b9b9;
  width: inherit;
  text-align: center;
  height: 2em;
  border: none;
  margin: auto 0 auto 0;
  border-radius: 4px 0px 0px 4px;
}

.App-secondary-input > input {
  background-color: #b9b9b9;
  width: inherit;
  text-align: center;
  height: 2em;
  border: none;
  margin: auto 0 auto 10px;
  border-radius: 4px;
}

.App-header {
  min-height: auto;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(12px + 2vmin);
  color: var(--primary-font-color);
}

.App-title {
  margin: auto auto auto .5em;
}

.flex-box{
  display: flex;
  padding: 0;
  text-align: center;
}

.App-list-view {
  width: 40vw;
  text-align: center;
}

.App-list-btn {
  width: 3.1em;
  height: 3.1em;
  border-radius: 5px;
  border: black;
}

.App-list-btn:hover {
  background-color: #888888;
}

.App-data-btn {
  width: 10vw;
  height: auto;
  padding: 4px 2px;
  margin: 0 auto 0 auto;
}

.table {
  background-color: #173177;
  color: #50b4b3;
  border-color: #50b4b3;
}

table {
  width: 100%;
  margin: 0 auto 0 auto;
}

td {
  text-align: left;
  padding: 5px;
  border: 2px solid #50b4b3;
}

.button-column {
  width: 3rem;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

